.Menu {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.Menu .list {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}
.Menu .form {
  display: flex;
  flex-direction: column;
}
.Menu .coords {
  display: flex;
  flex-direction: column;
}
.Menu .coords_wrap {
  display: flex;
}
.Menu .list_item {
  border: 1px solid black;
  background-color: #eeeeee;
  padding: 15px;
}
.Menu .list_item p {
  border-bottom: 1px solid black;
}
